<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
  <form th:action="@{/customer/edit}" method="post" th:object="${customer}">
    <fieldset>
      <legend>customer Edition form</legend>
      <input type="hidden" name="customerId" th:value="${customer.customerId}">

      <div class="form-group">
        <label for="customerName"> Customer Name</label>
        <input type="text" class="form-control" id="customerName" name="customerName"
               th:value="${customer.customerName}">
      </div>

      <div class="form-group">
        <label for="address"> Address</label>
        <input type="text" class="form-control" id="address" name="address"
               th:value="${customer.address}">
      </div>
      <div>
        <a th:href="@{/customer/list}" class="btn btn-outline-success">Cancel</a>
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
    </fieldset>
  </form>

</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>