<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/masterlayout.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/masterlayout.css}" />-->
</head>
<body> <th:block layout:fragment="content"> <h3> Inventory Management System</h3>
</th:block>
<th:block layout:fragment="footer"></th:block>
<!--<div class="container-fluid text-center" >--> <!--<h1>Welcome to my home page</h1>-->
<!-- <a class="h2" th:href="@{/users}">Manage Users</a>--> <!--</div>-->
</body>
</html>